/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header and navigation styles */
nav {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px 10px 20px; /* top, right, bottom, left */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav button {
    background-color: #006BDB;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #0056B3;
}

/* Main content styles */
h1, h2 {
    color: #333;
    justify-content: center;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.item {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}

button {
    background-color: #28A745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Form styling */
form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Footer and additional links */
footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
