/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header and navigation styles */
nav {
    background-color: #a1a1a1;
    color: white;
    padding: 10px 40px 10px 20px; /* Increased right padding */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav button {
    background-color: #ac4001;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #913602;
}

/* Main content styles */
h1, h2 {
    color: #333;
    text-align: center;
}

/* Container holding the items */
.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures items are spaced out evenly */
    align-items: flex-start; /* Aligns items at the top */
    padding: 20px;
}

/* Individual item styles */
.item {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(25% - 20px); /* Adjust width to fit 4 items across */
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}

/* General button styling */
button {
    background-color: #ac4001;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Form styling */
form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea,
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Footer and additional links */
footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .item {
        width: calc(50% - 20px); /* 2 items per row on smaller desktops and tablets */
    }
}

@media (max-width: 768px) {
    .item {
        width: calc(100% - 20px); /* 1 item per row on mobile devices */
    }

    nav {
        flex-direction: column;
        padding: 20px;
    }

    nav button {
        width: 100%; /* Full width buttons in mobile nav */
        margin-top: 10px;
    }
}
